---
export const prerender = false;

import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/typography/Heading.astro";
import type Post from "../../types/Post";
import PortableText from "../../components/sanity/PortableText.astro";
import { POST_QUERY } from "../../sanity/lib/queries";
import { urlForImage } from "../../sanity/lib/urlForImage";
import { Image } from "astro:assets";
import FormattedDate from "../../components/misc/FormattedDate.astro";
import EstimatedTimeToRead from "../../components/misc/EstimatedTimeToRead.astro";
import Pill from "../../components/misc/Pill.astro";
import type { Category } from "../../types/Category";
import { Icon } from "astro-icon/components";
import Flex from "../../components/layouts/Flex.astro";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post }: { data: Post } = await loadQuery({
  query: POST_QUERY,
  params,
});
---

<Layout
  title={post.title}
  description={post.description}
  siteUrl={`https://bymjcodes.netlify.app/blog/${post.slug.current}`}
  image={urlForImage(post.mainImage.asset)}
>
  <article class="relative w-full">
    <div class="py-24 lg:w-[85vw] lg:mx-auto max-w-lg m-auto relative">
      <Image
        src={urlForImage(post.mainImage.asset)}
        alt={post.mainImage.alt}
        width={500}
        height={500}
        loading={"eager"}
        class="w-full my-4 shadow-lg"
      />
      <div class="flex items-center justify-end gap-2 flex-wrap w-full">
        {
          post.categories &&
            post.categories.map((category: Category) => (
              <Pill text={category.title} variant="tertiary" />
            ))
        }
      </div>
      <!-- TODO: Make this stick on scroll rather than fixed -->
      <!--!FIXME: Restore blur effect that was broken after tailwind update when updating Astro to v5 -->
      <div
        class="fixed top-0 left-0 z-10 w-full p-2 mx-auto lg:left-1/2 lg:-translate-x-1/2 lg:w-1/2 dark:bg-background-dark bg-background-light shadow-md lg:shadow-none"
      >
        <div class="flex items-center gap-4">
          <a href="/blog">
            <Icon
              name={"material-symbols-light:arrow-left-alt-rounded"}
              size={40}
              class="text-primary dark:hover:text-white hover:text-black transition-all duration-300 hover:translate-x-3"
            />
          </a>

          <div class="w-full pr-2">
            <Heading text={post.title} size="md" color="text-primary" />
            <Flex direction="row" justify="between" align="center">
              <FormattedDate unformattedDate={post.publishedAt} />
              <EstimatedTimeToRead body={post.body} />
            </Flex>
          </div>
        </div>
      </div>
      <br />
      <div class="portable-text-body">
        <PortableText portableText={post.body} />
      </div>
    </div>
  </article>
</Layout>
