---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/typography/Heading.astro";
import type Post from "../../types/Post";
import PortableText from "../../components/sanity/PortableText.astro";
import { POST_QUERY } from "../../sanity/lib/queries";
import { urlForImage } from "../../sanity/lib/urlForImage";
import { Image } from "astro:assets";
import FormattedDate from "../../components/misc/FormattedDate.astro";
import Pill from "../../components/misc/Pill.astro";
import type { Category } from "../../types/Category";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post }: { data: Post } = await loadQuery({
  query: POST_QUERY,
  params,
});
---

<Layout title={post.title}>
  <article class="relative w-full">
    <div class="py-24 lg:w-[85vw] lg:mx-auto max-w-lg m-auto relative">
      <Image
        src={urlForImage(post.mainImage)}
        alt={post.mainImage.alt}
        width={500}
        height={500}
        quality={100}
        loading="eager"
        class="my-4 w-full shadow-lg"
      />
      <div class="flex items-center justify-end gap-2">
        {
          post.categories &&
            post.categories.map((category: Category) => (
              <Pill text={category.title} variant="tertiary" />
            ))
        }
      </div>
      <!-- TODO: Make this stick on scroll rather than fixed -->
      <div
        class="fixed top-0 left-0 w-full lg:left-1/2 lg:-translate-x-1/2 lg:w-1/2 mx-auto z-10 p-2 lg:py-4 dark:bg-background-dark/50 bg-background-white/50 backdrop-blur-lg"
      >
        <div class="flex items-center gap-4">
          <a href="/blog">
            <Icon
              name={"material-symbols-light:arrow-left-alt-rounded"}
              size={40}
              class="text-primary dark:hover:text-white hover:text-black transition-all duration-300 hover:translate-x-3"
            /></a
          >
          <div>
            <Heading text={post.title} size="md" color="text-primary" />
            <FormattedDate unformattedDate={post.publishedAt} />
          </div>
        </div>
      </div>
      <br />
      <PortableText portableText={post.body} />
    </div>
  </article>
</Layout>
