---
export const prerender = false;

import { Image } from "@unpic/astro";
import Flex from "@/components/layouts/Flex.astro";
import EstimatedTimeToRead from "@/components/misc/EstimatedTimeToRead.astro";
import FormattedDate from "@/components/misc/FormattedDate.astro";
import Pill from "@/components/misc/Pill.astro";
import PortableText from "@/components/sanity/PortableText.astro";
import FontSettingsButtons from "@/components/settings/FontSettingsButtons";
import Heading from "@/components/typography/Heading.astro";
import Layout from "@/layouts/Layout.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import { POST_QUERY } from "@/sanity/lib/queries";
import { urlForImage } from "@/sanity/lib/urlForImage";
import type { Category } from "@/types/Category";
import type Post from "@/types/Post";
import type { SanityDocument } from "@sanity/client";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current
      }
    };
  });
}

const { params } = Astro;

const { data: post }: { data: Post } = await loadQuery({
  query: POST_QUERY,
  params
});
---

<Layout
  title={post.title}
  description={post.description}
  siteUrl={`https://bymjcodes.com/blog/${post.slug.current}`}
  image={urlForImage(post.mainImage.asset)}
  type="article"
>
  <!-- !BUG - Apparently adding transition:animate="fade" to the article element is causing blur effect and other styling to not work -->

  <article class="relative w-full">
    <div
      class="relative m-auto max-w-lg pt-36 pb-64 lg:mx-auto lg:w-[85vw] lg:pt-28 lg:pb-28"
    >
      <div
        class="flex w-full flex-wrap items-center justify-end gap-2 transition-all duration-400"
      >
        {
          post.categories &&
            post.categories.map((category: Category) => (
              <Pill text={category.title} variant="tertiary" />
            ))
        }
      </div>
      <Image
        src={urlForImage(post.mainImage.asset)}
        alt={post.mainImage.alt}
        layout="fixed"
        placeholder="blurhash"
        priority
        class="my-4 w-full rounded-xl shadow-lg shadow-black/50 transition-all duration-400"
      />
      <div class="hidden transition-all duration-400 lg:block">
        <FontSettingsButtons client:load />
      </div>
      <!-- TODO: Make this stick on scroll rather than fixed -->
      <div
        class="dark:via-background-dark/50 via-background-light/50 fixed top-0 left-0 z-10 mx-auto w-full bg-gradient-to-r from-transparent to-transparent p-2 shadow-sm backdrop-blur-xl transition-all duration-400 lg:left-1/2 lg:w-1/2 lg:-translate-x-1/2 lg:rounded-b-xl lg:shadow-none dark:from-transparent dark:to-transparent"
      >
        <div class="flex items-center gap-4">
          <a href="/blog">
            <Icon
              name={"material-symbols-light:arrow-left-alt-rounded"}
              size={40}
              class="text-primary transition-all duration-400 hover:translate-x-3 hover:text-black dark:hover:text-white"
            />
          </a>

          <div class="w-full">
            <Heading
              text={post.title}
              size="md"
              color="text-primary"
              className="block w-[85%] overflow-hidden text-nowrap text-ellipsis whitespace-nowrap lg:w-full"
            />
            <div class="pr-14 lg:pr-0">
              <Flex direction="row" justify="between" align="center">
                <FormattedDate unformattedDate={post.publishedAt} />
                <EstimatedTimeToRead body={post.body} className="pr-2" />
              </Flex>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="portable-text-body">
        <PortableText portableText={post.body} />
      </div>
    </div>
  </article>
</Layout>

<style></style>
