---
interface Props {
  text: string;
  size: "sm" | "md" | "lg" | "xl" | "xxl";
  color?: string;
  className?: string;
}

const {
  text,
  size = "md",
  color = "text-black dark:text-white",
  className,
} = Astro.props;

const sizes = {
  sm: "text-xl py-1 opacity-70",
  md: "text-2xl py-1",
  lg: "text-3xl py-1",
  xl: "text-4xl lg:text-5xl py-2 font-black",
  xxl: "text-6xl py-4 font-black",
};

const completeClass = `
  ${sizes[size]}
  font-bold
`;
---

<h1 class={`${completeClass} ${color} ${className}`}>{text}</h1>
