---
import type { ImageAsset, PortableTextBlock } from "sanity";
import { Image } from "astro:assets";
import { urlForImage } from "../../sanity/lib/urlForImage";
import Heading from "../typography/Heading.astro";
import Text from "../typography/Text.astro";
import type { Category } from "../../types/Category";
import Pill from "../misc/Pill.astro";
import FormattedDate from "../misc/FormattedDate.astro";

interface Props {
  title: string;
  mainImage: {
    alt: string;
    asset: {
      _ref: string;
    };
  };
  description: string;
  publishedAt: string;
  href: string;
  categories: Category[];
}

const { href, title, mainImage, description, publishedAt, categories } =
  Astro.props;
---

<li
  class="dark:bg-[#000000] bg-[#ffffff] z-10 rounded-xl hover:scale-95 transition-all duration-300 border-[0.5px] hover:border-primary dark:hover:border-primary dark:border-[#000000] border-[#ffffff]"
>
  <a href={`${href}`}>
    <Image
      src={urlForImage(mainImage)}
      alt={mainImage.alt}
      width={500}
      height={500}
      loading={"lazy"}
      class={"rounded-t-xl w-full"}
      title={title}
    />
    <div class="p-4">
      <Heading text={title} size="md" color="text-primary" />
      <FormattedDate unformattedDate={publishedAt} />
      <hr class="h-[1px] text-primary my-2 opacity-60" />
      <Text text={description} size="sm" />
      <hr class="h-[1px] text-primary my-2 opacity-60" />
      <ul class="pt-2">
        {
          categories.map((category: Category) => (
            <Pill text={category.title} variant="secondary" />
          ))
        }
      </ul>
    </div>
  </a>
</li>
