---
export const prerender = true;

Astro.response.headers.set("Cache-Control", "public, max-age=3600"); // 1 hour

import { Image } from "@unpic/astro";
import Button from "@/components/buttons/Button.astro";
import Flex from "@/components/layouts/Flex.astro";
import EstimatedTimeToRead from "@/components/misc/EstimatedTimeToRead.astro";
import FormattedDate from "@/components/misc/FormattedDate.astro";
import Pill from "@/components/misc/Pill.astro";
import Heading from "@/components/typography/Heading.astro";
import Text from "@/components/typography/Text.astro";
import { urlForPostImage, urlForProjectImage } from "@/sanity/lib/urlForImage";
import type { Category } from "@/types/Category";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  mainImage: {
    alt: string;
    asset: {
      _id: string;
      url: string;
    };
  };
  description: string;
  publishedAt: string;
  href: string;
  categories: Category[];
  isProject?: boolean;
  projectUrl?: string;
  githubUrl?: string | null | undefined;
  body?: unknown;
}

const {
  href,
  title,
  mainImage,
  description,
  publishedAt,
  categories,
  isProject = false,
  projectUrl,
  githubUrl,
  body
} = Astro.props;
---

<li
  class="dark:bg-card-dark bg-card-light hover:border-primary dark:hover:border-primary dark:border-card-dark border-card-light z-10 inline-block h-fit rounded-xl border-[0.5px] transition-all duration-400 hover:scale-95"
  transition:persist
>
  <a
    href={isProject ? `${projectUrl}` : `${href}`}
    target={isProject ? "_blank" : "_self"}
  >
    <Image
      src={isProject
        ? urlForProjectImage(mainImage.asset)
        : urlForPostImage(mainImage.asset)}
      alt={mainImage.alt}
      layout="fixed"
      placeholder="blurhash"
      class={isProject ? "w-full" : "rounded-t-xl w-full shadow-xl"}
      title={title}
      transition:persist
    />
    <div class="w-full p-4">
      <Heading text={title} size="md" color="text-primary" />
      <div>
        <Flex direction="row" justify="between" align="center">
          <div class="flex items-center">
            {
              isProject && (
                <span class="text-secondary-white mr-1 text-sm">
                  🚀 Deployed on
                </span>
              )
            }
            <div class="flex items-center">
              {
                !isProject && (
                  <span class="text-secondary-white mr-1">
                    <Icon name="ri:calendar-line" />
                  </span>
                )
              }
              <FormattedDate unformattedDate={publishedAt} />
            </div>
          </div>
          {!isProject ? <EstimatedTimeToRead body={body} /> : <div />}
        </Flex>
      </div>
      <div class="border-secondary-white mt-4 mb-2 border-t-[0.5px] py-1">
        <Text text={description} size="sm" />
        {
          isProject && (
            <Flex direction="row" gap="0" wrap="wrap" className="my-2">
              <Button
                text="See Project"
                link={projectUrl}
                variant="primary"
                icon="ri:external-link-line"
                className="mr-4"
                blank
              />
              {githubUrl && (
                <Button
                  text="GitHub"
                  link={githubUrl}
                  variant="secondary"
                  icon="ri:github-fill"
                  blank
                />
              )}
            </Flex>
          )
        }
      </div>
      <ul class="flex w-full flex-wrap gap-2 pt-2">
        {
          categories.map((category: Category) => (
            <Pill text={category.title} variant="secondary" />
          ))
        }
      </ul>
    </div>
  </a>
</li>
