---
interface Props {
  direction: "row" | "col" | "row-reverse" | "col-reverse";
  align?: "start" | "end" | "center" | "stretch" | "baseline";
  justify?: "start" | "end" | "center" | "between" | "around" | "evenly";
  gap?: string;
  wrap?: "nowrap" | "wrap" | "wrap-reverse";
  className?: string;
}

const { direction, align, justify, gap = 2, wrap, className } = Astro.props;
---

<div
  class={`flex flex-${direction} items-${align} justify-${justify} gap-${gap} ${wrap === "nowrap" ? "flex-nowrap" : `flex-${wrap}`} ${className}`}
>
  <slot />
</div>
