---
interface Props {
  direction: "row" | "col" | "row-reverse" | "col-reverse";
  align: "flex-start" | "flex-end" | "center" | "stretch" | "baseline";
  justify:
    | "flex-start"
    | "flex-end"
    | "center"
    | "between"
    | "around"
    | "evenly";
  gap?: string;
  wrap?: "nowrap" | "wrap" | "wrap-reverse";
  className?: string;
}

const {
  direction,
  align,
  justify,
  gap = 2,
  wrap,
  className,
  ...props
} = Astro.props;
---

<div
  class={`flex flex-${direction} items-${align} justify-${justify} gap-${gap} ${wrap === "nowrap" ? "flex-nowrap" : `flex-${wrap}`} ${className}`}
>
  <slot />
</div>
