---
export const prerender = true;

import Card from "@/components/cards/Card.astro";
import Heading from "@/components/typography/Heading.astro";
import Layout from "@/layouts/Layout.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import { POSTS_QUERY } from "@/sanity/lib/queries";
import type Post from "@/types/Post";
import LoadingSkeleton from "@/components/misc/LoadingSkeleton.astro";

const posts = await loadQuery<Post[]>({
  query: POSTS_QUERY
});
---

<Layout
  title="Blog"
  description={`See Maxwell Kapezi Jr's "take" on Tech, software and its development, and probably rants about AI.`}
  siteUrl="https://bymjcodes.com/blog"
  image="/mjk.jpg"
>
  <section class="w-full lg:min-h-[89vh]" transition:animate="fade">
    <div class="container m-auto flex h-full flex-col justify-center py-24">
      <div class="text-center lg:text-left">
        <Heading text="Read Something" size="lg" />
      </div>
      <ul
        class="grid grid-cols-1 gap-10 py-4 transition-all duration-400 ease-in-out sm:grid-cols-2"
      >
        {
          posts.data &&
            posts.data.map((post: Post) => (
              <Card
                title={post.title}
                mainImage={post.mainImage}
                description={post.description}
                publishedAt={post.publishedAt}
                categories={post.categories}
                href={`/blog/${post.slug.current}`}
                body={post.body}
                server:defer
              >
                <LoadingSkeleton slot="fallback" />
              </Card>
            ))
        }
      </ul>
    </div>
  </section>
</Layout>
