---
import type { SanityDocument } from "@sanity/client";
import Heading from "../components/typography/Heading.astro";
import Layout from "../layouts/Layout.astro";
import { loadQuery } from "../sanity/lib/load-query";
import type Post from "../types/Post";
import { POSTS_QUERY } from "../sanity/lib/queries";
import Card from "../components/cards/Card.astro";

const posts = await loadQuery<Post[]>({
  query: POSTS_QUERY,
});
---

<Layout
  title="Blog"
  description={`Maxwell Kapezi Jr's "take" on Tech, software and its development, and probably rants about AI.`}
  siteUrl="https://bymjcodes.netlify.app/blog/"
>
  <main>
    <section class="lg:min-h-[89vh]
  w-full">
      <div class="container flex flex-col justify-center h-full py-24 m-auto">
        <div class="text-center lg:text-left">
          <Heading text="Read Something" size="lg" />
        </div>
        <ul class="py-4 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
          {
            posts.data.map((post) => (
              <Card
                title={post.title}
                mainImage={post.mainImage}
                description={post.description}
                publishedAt={post.publishedAt}
                categories={post.categories}
                href={`/blog/${post.slug.current}`}
              />
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
