---
export const prerender = false;

import Card from "../components/cards/Card.astro";
import Layout from "../layouts/Layout.astro";
import { PROJECTS_QUERY } from "../sanity/lib/queries";
import { loadQuery } from "../sanity/lib/load-query";
import type Project from "../types/Project";
import Heading from "../components/typography/Heading.astro";

import { Suspense } from "react";

const projects = await loadQuery<Project[]>({
  query: PROJECTS_QUERY,
});
---

<Layout
  title="Projects"
  description="See Maxwell Kapezi Jr's work and works-in-progress he has been working on over the years."
  siteUrl="https://bymjcodes.netlify.app/projects/"
>
  <section class="lg:min-h-[89vh]
  w-full" transition:animate="fade">
    <div class="container flex flex-col justify-center h-full py-24 m-auto">
      <div class="text-center lg:text-left">
        <Heading text="My Work" size="lg" />
      </div>
      <ul
        class="grid grid-cols-1 gap-4 py-4 lg:grid-cols-2 transition-all duration-300 ease-in-out"
      >
        {
          projects.data &&
            projects.data.map((project: Project) => (
              <Suspense fallback={"Loading Projects..."}>
                <Card
                  title={project.title}
                  mainImage={project.mainImage}
                  description={project.description}
                  publishedAt={project.publishedAt}
                  categories={project.categories}
                  isProject
                  href={`/projects/${project.slug.current}`}
                  projectUrl={project.projectUrl}
                  githubUrl={project.githubUrl}
                  server:defer
                />
              </Suspense>
            ))
        }
      </ul>
    </div>
  </section>
</Layout>
