---
export const prerender = false;

Astro.response.headers.set("Cache-Control", "public, max-age=3600"); // 1 hour

import Heading from "@/components/typography/Heading.astro";
import Layout from "@/layouts/Layout.astro";
import CardsLayout from "@/layouts/CardsLayout.astro";
import type Project from "@/types/Project";
import { loadQuery } from "@/sanity/lib/load-query";
import { PROJECTS_QUERY } from "@/sanity/lib/queries";
import LoadingSkeleton from "@/components/misc/LoadingSkeleton.astro";
import Card from "@/components/cards/Card.astro";

const projects = await loadQuery<Project[]>({
  query: PROJECTS_QUERY
});
---

<Layout
  title="Projects"
  description="See Maxwell Kapezi Jr's work and works-in-progress he has been working on over the years."
  siteUrl="https://bymjcodes.com/projects"
  image="/mjk.jpg"
>
  <section class="w-full lg:min-h-[89vh]">
    <div class="container m-auto flex h-full flex-col justify-center py-24">
      <div class="text-center lg:text-left">
        <Heading text="My Work" size="lg" />
      </div>
      <CardsLayout>
        {
          projects.data &&
            projects.data.map((project: Project) => (
              <Card
                title={project.title}
                mainImage={project.mainImage}
                description={project.description}
                publishedAt={project.publishedAt}
                categories={project.categories}
                isProject
                href={`/projects/${project.slug.current}`}
                projectUrl={project.projectUrl}
                githubUrl={project.githubUrl}
                server:defer
              >
                <LoadingSkeleton slot="fallback" />
              </Card>
            ))
        }
      </CardsLayout>
    </div>
  </section>
</Layout>
