---
import { Image } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Navbar from "@/components/navigation/Navbar.astro";
import ThemeToggler from "@/components/navigation/ThemeToggler";
import FontSettings from "@/components/settings/FontSettings.astro";

interface Props {
  title: string;
  description?: string;
  siteUrl?: string;
  image?: string;
}

const {
  title,
  description = "Maxwell Kapezi Jr's official website to showcase his software development journey and share the few things he knows.",
  siteUrl = "https://bymjcodes.netlify.app",
  image,
} = Astro.props;

// Old image ("https://i.ibb.co/QnrcfDX/Screenshot-from-2024-01-04-10-22-56.png");
---

<!doctype html>
<html lang="en" class="dark" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="title" content={`${title} | MJ Codes 🚀`} />
    <meta name="description" content={description} />
    <meta name="image" content={image} />
    <meta property="og:title" content={`${title} | MJ Codes 🚀`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content={`${title} | MJ Codes 🚀`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={image} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | MJ Codes 🚀`}</title>
  </head>
  <body
    class="relative flex flex-col overflow-x-hidden font-sans lg:flex-row min-w-screen text-black bg-gradient-to-br from-background-light via-background-light to-secondary-light dark:text-white dark:from-background-dark dark:via-background-dark dark:to-secondary-dark min-h-screen"
  >
    <Navbar />
    <a
      href="/"
      class="absolute w-10 h-10 transition-all duration-300 lg:hidden top-4 left-4 animate-pulse"
    >
      <Image
        src="/icon.png"
        alt="MJ Codes logo"
        width={200}
        height={200}
        loading={"lazy"}
      />
    </a>
    <div
      class="fixed bottom-[15vh] right-[5%] lg:top-4 lg:left-[12vw] lg:bottom-auto lg:right-auto z-50"
    >
      <ThemeToggler client:load />
    </div>
    <main
      class="px-4 lg:m-10 lg:px-[15vw] w-full lg:w-[85vw] lg:mx-auto xl:w-[95vw] max-w-screen-xl mx-auto z-auto"
    >
      <slot />
    </main>
    <ClientRouter />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .duration-300 {
      transition-duration: 300ms;
    }
  }

  :root {
    overflow-x: hidden;
    --primary-color: #ff0098;
    --primary-white: #ebebeb;
    --primary-black: #111111;
    --font-family: "Fira Code";
    --text-size: 14px;
    --line-height: 1.25rem;
  }

  /* This only works on Chromium browsers by the way */
  ::-webkit-scrollbar {
    background: transparent !important;
    width: 12px !important;
    transition: all 300ms ease-in-out;
  }

  ::-webkit-scrollbar:hover,
  ::-webkit-scrollbar:focus {
    width: 13px !important;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: #ff0099b7 !important;
    transition: all 300ms ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #ff0098ff !important;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ff0099b7 transparent;
  }

  /* For Firefox - hover state */
  *:hover {
    scrollbar-color: #ff0098ff transparent;
  }

  html,
  body {
    @apply font-poppins;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }

  p {
    @apply py-2 text-sm text-black opacity-80 dark:text-white lg:text-base;
  }

  h3 {
    @apply mt-6 text-2xl font-bold text-black dark:text-white;
  }

  h4 {
    @apply mt-4 border-l-4 border-primary pl-2 text-xl font-semibold text-black opacity-80 dark:text-white;
  }

  /* Utilities */
  .portable-text-body {
    font-family: var(--font-family);
  }

  .portable-text-body p {
    font-size: var(--text-size);
    line-height: var(--line-height);
  }
  /* This is for Links/href's that need to styled differently from the rest */
  .portable-text-body a {
    @apply italic text-primary transition-all duration-300 ease-in-out hover:underline hover:opacity-80;
  }

  .portable-text-body blockquote {
    @apply my-2 border-l-4 border-primary bg-secondary-light p-4 font-thin dark:bg-secondary-dark;
  }

  .portable-text-body code {
    @apply my-4 block rounded-lg p-4;
  }

  .portable-text-body img {
    @apply my-4 w-full;
  }

  .portable-text-body ol {
    @apply list-decimal pl-8 text-black antialiased opacity-70 dark:text-white;
    font-size: var(--text-size);
  }

  .portable-text-body ul {
    @apply list-disc pl-8 text-black antialiased opacity-70 dark:text-white;
    font-size: var(--text-size);
  }

  .portable-text-body ol > li {
    @apply my-2 pl-2;
  }

  /* .portable-text-body a:hover,
  .underlined-link:hover {
    @apply underline;
  } */

  .underlined-link {
    @apply inline-block text-primary transition-all duration-300 ease-in-out hover:underline hover:opacity-80;
  }

  /* FAQS */
  .questions-container {
    @apply mb-4 mt-4;
  }

  .questions-container .question-card {
    @apply mb-4 mt-4 border-b py-2;
  }

  .questions-container .question-card .question {
    @apply flex justify-between text-lg font-medium opacity-80;
  }

  .questions-container .question-card .question.question-open {
    @apply font-medium text-primary;
  }

  .questions-container .question-card .answer-shown {
    @apply mt-2 max-h-48 overflow-hidden py-1 text-base transition-all duration-150 ease-in-out;
  }

  .questions-container .question-card .answer-hidden {
    @apply max-h-0 overflow-hidden p-0 transition-all duration-150 ease-in-out;
  }
</style>
