---
import "@/styles/global.css";

import { ClientRouter } from "astro:transitions";
import Navbar from "@/components/navigation/Navbar.astro";
import FontSettingsButtons from "@/components/settings/FontSettingsButtons";
import { SEO } from "astro-seo";
import { websiteName, websiteDescription, websiteUrl } from "@/exports/strings";

interface Props {
  title: string;
  description?: string;
  siteUrl?: string;
  image: string;
  type?: string;
}

const {
  title,
  description = websiteDescription,
  siteUrl = websiteUrl,
  image,
  type = "website"
} = Astro.props;

console.log(title);

// Old image ("https://i.ibb.co/QnrcfDX/Screenshot-from-2024-01-04-10-22-56.png");

const currentPath: string = Astro.url.pathname;
// const currentPathArray: string[] = currentPath.split("/");
---

<!doctype html>
<html lang="en" class="dark" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      title={`${title} | ${websiteName}`}
      description={description}
      openGraph={{
        basic: {
          title: `${title} | ${websiteName}`,
          type: type,
          image: image,
          url: siteUrl
        },
        optional: {
          description: description,
          siteName: "MJ Codes"
        }
      }}
      twitter={{
        creator: "@maxwellkjr",
        title: title,
        description: description,
        image: image,
        site: siteUrl
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/icon.webp" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: image
          },
          { name: "twitter:title", content: `${title} | ${websiteName}` },
          { name: "twitter:description", content: description }
        ]
      }}
    />
    <ClientRouter />
    <script src="/src/components/navigation/ThemeToggler.ts"></script>
  </head>

  <body
    class="from-background-light via-background-light to-secondary-light dark:from-background-dark dark:via-background-dark dark:to-secondary-dark relative flex min-h-screen min-w-screen flex-col overflow-x-hidden bg-linear-to-br text-black antialiased lg:flex-row dark:text-white"
  >
    <Navbar />
    <a
      href="/"
      class="absolute top-4 left-4 h-10 w-10 animate-pulse transition-all duration-400 lg:hidden"
    >
      <img
        src="/icon.webp"
        alt="MJ Codes logo"
        width="40"
        height="40"
        loading="eager"
      />
    </a>
    <div
      class="fixed right-[5%] bottom-[15vh] z-50 lg:top-4 lg:right-auto lg:bottom-auto lg:left-[12vw]"
    >
      <div class="flex flex-col items-center justify-center gap-5">
        <div
          class={`lg:hidden ${currentPath.startsWith("/blog/") ? "block" : "hidden"}`}
        >
          <FontSettingsButtons client:load />
        </div>
        <theme-toggler></theme-toggler>
      </div>
    </div>
    <main
      class="2xl:max-w-8xl z-auto mx-auto w-full px-4 lg:m-10 lg:mx-auto lg:w-[85vw] lg:px-[15vw] xl:w-[95vw] xl:max-w-full 2xl:w-full"
    >
      <slot />
    </main>
  </body>
</html>
