---
import { Image } from "astro:assets";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navbar from "../components/navigation/Navbar.astro";
import ThemeToggle from "../components/navigation/ThemeToggle";

interface Props {
  title: string;
  description?: string;
  siteUrl?: string;
  image?: string;
}

const {
  title,
  description = "Maxwell Kapezi Jr's official website to showcase his software development journey and share the few things he knows.",
  siteUrl = "https://bymjcodes.netlify.app",
  image,
} = Astro.props;

// Old image ("https://i.ibb.co/QnrcfDX/Screenshot-from-2024-01-04-10-22-56.png");
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="title" content={`${title} | MJ Codes 🚀`} />
    <meta name="description" content={description} />
    <meta name="image" content={image} />
    <meta property="og:title" content={`${title} | MJ Codes 🚀`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content={`${title} | MJ Codes 🚀`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={image} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | MJ Codes 🚀`}</title>
  </head>
  <body
    class="flex flex-col lg:flex-row min-w-screen dark:bg-background-dark bg-background-light dark:text-white text-black font-sans overflow-x-hidden relative"
  >
    <Navbar transition:persist />
    <Image
      src="/icon.png"
      alt="MJ Codes logo"
      width={200}
      height={200}
      loading={"eager"}
      class="absolute lg:hidden top-4 left-4 w-10 h-10 transition-all duration-300 animate-pulse"
    />
    <div
      class="fixed bottom-[15vh] right-[5%] lg:top-4 lg:left-[12vw] z-50 lg:z-auto"
    >
      <ThemeToggle client:load />
    </div>
    <div
      class="px-4 lg:m-10 lg:px-[15vw] w-full lg:w-[85vw] lg:mx-auto xl:w-[95vw] max-w-screen-xl mx-auto"
    >
      <slot />
    </div>
    <ViewTransitions />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .duration-300 {
      transition-duration: 300ms;
    }
  }

  :root {
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    background: transparent !important;
    width: 12px !important;
    transition: all 300ms ease-in-out;
  }

  ::-webkit-scrollbar:hover,
  ::-webkit-scrollbar:focus {
    width: 13px !important;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: #ff0099b7 !important;
    transition: all 300ms ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #ff0098ff !important;
  }

  p {
    @apply py-2 text-sm text-black opacity-80 dark:text-white lg:text-base;
  }

  h3 {
    @apply mt-6 text-2xl font-bold text-black dark:text-white;
  }

  h4 {
    @apply mt-4 text-xl font-semibold text-black dark:text-white;
  }

  /* Utilities */
  a {
    transition: all 300ms ease-in-out;
  }
  a:hover {
    color: #ff0098ff;
  }

  .underlined-link {
    color: #ff0098ff;
  }

  .underlined-link:hover {
    text-decoration: underline;
  }

  /* FAQS */
  .questions-container {
    @apply mb-4 mt-4;
  }

  .questions-container .question-card {
    @apply mb-4 mt-4 border-b py-2;
  }

  .questions-container .question-card .question {
    @apply flex justify-between font-medium opacity-80;
  }

  .questions-container .question-card .question.question-open {
    @apply font-medium text-primary;
  }

  .questions-container .question-card .answer {
    @apply mt-2 max-h-48 overflow-hidden py-1 text-sm transition duration-300 ease-in-out;
  }

  .questions-container .question-card .hidden {
    @apply max-h-0 p-0;
  }
</style>
