---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navbar from "../components/navigation/Navbar.astro";

interface Props {
  title: string;
  description?: string;
  siteUrl?: string;
}

const {
  title,
  description = "Maxwell Kapezi Jr's official website to showcase his software development journey and share the few things he knows.",
  siteUrl = "https://bymjcodes.netlify.app",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta
      name="title"
      content={`${title} | Programming and Tech Related Content 🚀`}
    />
    <meta name="description" content={description} />
    <meta
      property="og:title"
      content={`${title} | Programming and Tech Related Content 🚀`}
    />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://i.ibb.co/QnrcfDX/Screenshot-from-2024-01-04-10-22-56.png"
    />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col lg:flex-row min-w-screen dark:bg-background-dark bg-background dark:text-white text-black font-sans overflow-x-hidden"
  >
    <Navbar />
    <div
      class="px-4 lg:m-10 lg:px-[15vw] w-full lg:w-[85vw] lg:mx-auto max-w-screen-xl mx-auto"
    >
      <slot />
    </div>
    <ViewTransitions />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    background: transparent !important;
    width: 12px !important;
    transition: all 300ms ease-in-out;
  }

  ::-webkit-scrollbar:hover,
  ::-webkit-scrollbar:focus {
    width: 13px !important;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb {
    background: #ff0099b7 !important;
    transition: all 300ms ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #ff0098ff !important;
  }

  a {
    transition: all 300ms ease-in-out;
  }
  a:hover {
    color: #ff0098ff;
  }

  .underlined-link {
    color: #ff0098ff;
  }

  .underlined-link:hover {
    text-decoration: underline;
  }
</style>
